<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<div><%= link_to "Edit", edit_article_path(@article)%></div>
<%
=begin%>
 https://guides.rubyonrails.org/getting_started.html#deleting-an-article 
<%
=end%>
<div><%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}%></div>
<%
=begin%>
 https://guides.rubyonrails.org/getting_started.html#refactoring 
<%
=end%>
<h5>We have <%= Comment.public_count%> count out of <%= Comment.count%></h5>
<h2>Comments: </h2>
<%
=begin%>
 <% @article.comments.each do |comment|%>
    <p>
        <strong>Commenter: </strong> <%= comment.commenter%>
    </p>
    <p>
        <strong>Comment: </strong> <%= comment.body %>
    </p>
<% end %> 
<%
=end%>

<%= render @article.comments%>
<h2>Add A Comment:</h2>

<%= render 'comments/form'%>